.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-content: center;

}


.container img {
    width: 80%;
    place-items: center;
    
}